<div class="row d-none d-md-flex">
  <div class="col-2">
    <%= todo.title %>
  </div>
  <div class="col-2">
    <%= todo.description %>
  </div>
  <div class="col-2">
    <%= todo.category.titleize %>
  </div>
  <div class="col-2">
    <%= format_datetime(todo.created_at) %>
  </div>
  <div class="col-2">
    <%= link_to todo_complete_path(todo), data: { turbo_frame: "complete", turbo_method: :post } do %>
      <%= check_box_tag("complete", todo.complete, todo.complete, class: "todo-select-checkbox form-check-input") %>
    <% end %>
    <span class="ml-1"><%= format_datetime(todo.completed_at) %></span>
  </div>
  <div class="col-2">
     <%= link_to "<i class='fa-solid fa-edit'></i>".html_safe, edit_todo_path(todo), data: { turbo_frame: "todo_modal" } %> <%= link_to "<i class='fa-solid fa-trash'></i>".html_safe, todo_path(todo), data: { turbo_confirm: "Are you sure you wish to delete the To Do item?", turbo_method: :delete } %>
  </div>
</div>

<%= render 'mobile_todo', todo: todo %>
