<nav class="navbar navbar-expand-lg bg-dark p-2" data-bs-theme="dark">  
  <div class="row text-white">
    <div class="col-md-4 col-12 mt-3 mb-3"> 
      <h3 class="mt-2">
        To Do List 
        <%= link_to "<i class='fa-solid fa-plus'></i> Create New".html_safe, new_todo_path, class: "btn btn-primary d-none d-sm-inline p-2", data: { turbo_frame: "todo_modal" }%>
      </h3>
    </div>
    <div class="col-12 col-md-8 text-right mt-3 mb-3"> 
      <%= form_with url: todos_path, method: :get, data: { turbo_frame: 'todos', controller: "search" } do |f| %>
        <div class="row">
          <div class="col-12 col-md-3 mt-2">
            <%= f.search_field :search, class: 'form-control text-white', placeholder: "Filter by title/description", data: {  action: "input->search#search" } %>
          </div>
          <div class="col-12 col-md-3 mt-2"">
            <%= f.select :category, @categories, { include_blank: "Filter by Category" }, { class: 'form-select', data: {  action: "input->search#search" } } %>
          </div>
          <div class="col-12 col-md-3 mt-2"">
            <%= f.select :status, @statuses, { include_blank: "Filter by Status" }, { class: 'form-select', data: {  action: "input->search#search" } } %>
          </div>
          <div class="col-12 col-md-3 mt-2">
            <%= link_to "<i class='fa-solid fa-x'></i> Clear Filters".html_safe, todos_path, class: "btn btn-default"  %>
            <%= link_to "<i class='fa-solid fa-plus'></i> Create New".html_safe, new_todo_path, class: "btn btn-default d-inline d-sm-none", data: { turbo_frame: "todo_modal" }%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <%= render 'tablet_plus_layout' %>
</div>
